*{
  margin :0;
  padding:0;
  box-sizing: border-box;
}

body{
 background: #eee;
 color: #333;
 font-family: sans-serif;
}
header{
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
}
header ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  list-style: none;
}
header ul li {
  cursor: pointer;

}
header ul li:hover {
  cursor: pointer;
  color: #f1c40f;
  
}
h2 a{
  font-family: "Long Cang", cursive;
}
.fa-solid{
  color: #f1c40f;
} 
/* container */
.container{
  background: url("./images/frame.jpg") center center/cover;

  height: 100vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.content{
  padding: 1rem;
  text-align: center;
  max-width: 80%;
}
.content h1{
  color: white;
  font-size: 24px;
  font-size: 3.3rem;
  font-weight: 700;
  
}
.content p{
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}
/* offre */
#offres{
  padding: 10rem 10rem;
  
}
#offres ul{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
#offres ul li {
  flex: 1;
  margin: 15px;
  list-style: none;
  background: white;
  
  border: 1px solid #ddd;

}
.img-house
{
  width: 100%;
}
.offre-p{
  text-align: center;
  background-color: white;
  padding: 15px;
  margin-top
  : 0;
}
.offre-p p{
  margin-bottom: 0.9rem;
}
.separator{
margin: 1rem auto;
  height: 2px;
  width: 50px;
  background: #333;
}
/* equipe */
#equipe{
  display: flex;
  justify-content: space-between;
  color: white;
  
  background: #333
}
#image-equipe{
  width: 70%;
}
#team{
  flex: 1;
  background: url("./images/team.jpg") center center/cover;
}
#text-equipe{
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#text-equipe p{
  line-height: 1.9rem;
}
#text-equipe h1{
  margin-bottom: 15px;
}
/* avis */
#avis{

  padding: 5rem;
}
#avis h1{
  margin-bottom: 5rem;
}
.avis-content{
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 15px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quotes-p{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.person img{
  width: 50px;
  border-radius: 50px;

}
.person h2{
  font-size: 15px;
  margin-bottom: 0.5rem;
}
/* connecter nous */
#connecter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: white;
  padding: 10rem 5rem;
  min-height: 600px;
}
#connecter input{
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
}